@using Diary.Web.CustomHtmlHelpers
@model Diary.Web.Models.StoryInfo

@{
    ViewBag.Title = "Create";
}

<h2>Добави история</h2>


@using (Html.BeginForm("Create", "Story", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Нова история</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StoryDate, htmlAttributes: new { @class = "control-label  col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StoryDate, new { htmlAttributes = new { @class = "form-control datecontrol   " } })
                @Html.ValidationMessageFor(model => model.StoryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-2" })
            
                @*@Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                <img id="str1"  src="~/Content/Images/empty_star.png" data-number="1" class="RateStare" /><img id="str2" src="~/Content/Images/empty_star.png" class="RateStare" data-number="2" /><img id="str3" src="~/Content/Images/empty_star.png" class="RateStare" data-number="3" />
            <img id="str4" src="~/Content/Images/empty_star.png" class="RateStare" data-number="4" /><img id="str5" src="~/Content/Images/empty_sta.png" class="RateStare" data-number="5" /><img id="str6" src="~/Content/Images/empty_star.png" class="RateStare" data-number="6" />*@
            
            @Html.StarRate(3, 6)
            @Html.HiddenFor(x => x.Rate)
        </div>
        


            

            <div class="form-group">
                @Html.LabelFor(model => model.StoryText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.StoryText, 10, 55, null)
                    @Html.ValidationMessageFor(model => model.StoryText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostedFile, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PostedFile, new { type = "file" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default submit" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Назад към истории", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/application.js"></script>
<script>
    $(document).ready(function () {
        $(function () {

            $(".datecontrol").datepicker();

        });
        //var $starButtons = $(".bookrating");
        //$("#Rating").val(3);
        //$starButtons.on("click", function (evt) {
        //    var found = false;
        //    $starButtons.each(function (elId, el) {
        //        if (!found) {
        //            $(el).removeClass("glyphicon-star-empty");
        //            $(el).addClass("glyphicon-star");
        //        } else {
        //            $(el).removeClass("glyphicon-star");
        //            $(el).addClass("glyphicon-star-empty");
        //        }
        //        if (evt.currentTarget == el) {
        //            $("#Rating").val(elId + 1);
        //            found = true;
        //        }
        //    });
        //});
    });
    </script>