@model IEnumerable<Diary.Web.Models.StoryInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Истории</h2>
<p>
    @Html.ActionLink("Слайд", "Slide")    |  @Html.ActionLink("Добави история", "Create")  | @Html.ActionLink("За мен", "Index", "MySelf")

</p>
@*<p>
    @{Html.RenderPartial("_Search");}
</p>*@

@foreach (var item in Model)
{
    //  <fieldset>
    <div class="container border green">
        <article><b>@Html.DisplayFor(modelItem => item.Title)</b></article>
        <table class="container">
            <tr>
                <td class="detailPicture"><img class="ProfilPicture" src="~/Content/Pictures/@item.ImageUrl " /></td>
                <td class="rate">
                    <div>@Html.DisplayFor(modelItem => item.StoryDate)</div>
                    @*<div>
                        @Html.StarRate(item.Rate, 6)

                    </div>*@
                </td>
                <td class="text"> @Html.DisplayFor(modelItem => item.StoryText)</td>
                <td class="delete">
                    <a href="@Url.Action("Delete", "Story", new { id = item.StoryId })" id="adel">
                        <img src="~/Content/Images/Delete.gif" />
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <br />
    // </fieldset>
}
@*</table>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/LoadStars.js"></script>

