@using PagedList.Mvc
@model PagedList.IPagedList<Diary.Web.Models.StoryViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="container">
    <h2 class="text-center">Истории</h2><hr />

    <div class="row">
        <div class="col col-md-9 col-md-offset-3">
            @using (Html.BeginForm("Index", "Story", FormMethod.Post))
            {
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-glass" aria-hidden="true" id="glass"></span>Търси</button>
                        </span>
                        <input type="text" name="searchString" class="form-control" placeholder="име на история..">
                    </div>
                </div>
            }

            <span class="label label-default">Сортирай по:</span>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">@Html.ActionLink("Дата", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })</button>
                <button type="button" class="btn btn-default">@Html.ActionLink("Заглавие", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</button>
            </div>
        </div>
    </div><br />


    <div class="row">

        @foreach (var item in Model)
        {
            <div id="firstDiv" class="panel panel-default col col-md-10 col-md-offset-1 ">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><b>@Html.DisplayFor(modelItem => item.Title)</b></h3>
                </div>
                <div id="firstBody" class="panel-body">
                    <div class="col-md-4">
                        <a href="#" class="thumbnail">
                            @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                            <img class="ProfilPicture" src="~/Content/Pictures/@item.ImageUrl " />
                        </a>
                    </div>
                    <div class="row">
                        <div class=" col-md-12">
                            <p></p>
                            @for (int i = 0; i < item.Rate; i++)
                            {
                                <img src="~/Content/Images/full_star.png" />
                            }
                            <br />
                            <p></p>
                            @Html.DisplayFor(modelItem => item.StoryDate) <br />
                            <p></p>
                            <hr />

                            @Html.DisplayFor(modelItem => item.StoryText)  <br />
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

    <div class="text-center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

</div>
            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            @*<script src="~/Scripts/LoadStars.js"></script>*@

