@model IEnumerable<Diary.Web.Models.StoryInfo>
@using Diary.Web.CustomHtmlHelpers
@{
    ViewBag.Title = "Index";
}
<h2>Преглед на истории</h2><hr />
@*<p>
    @Html.ActionLink("Списък със истории", "Index") |@Html.ActionLink("Добави история", "Create")  | @Html.ActionLink("За мен", "Index", "MySelf")
</p>*@

<input type="hidden" id="storyMIN" value="@ViewBag.MinStoryID" />
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @foreach (var item in Model)
            {
                <li data-target="#myCarousel" data-slide-to='@(item.StoryId)'></li>
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @foreach (var item in Model)
            {

                <div class="item" data-storyid='@(item.StoryId)'>
                    <div id="firstDiv" class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>@Html.DisplayFor(modelItem => item.Title)</b></h3>
                        </div>
                        <div id="firstBody" class="panel-body">
                            <div class="col-md-4">
                                @*col-xs-6*@
                            <a href="#" class="thumbnail">
                                @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                                <img class="ProfilPicture" src="~/Content/Pictures/@item.ImageUrl " />
                            </a>
                        </div>
                        <div class="row">
                            <div class=" col-md-12">
                                <p></p>
                                @for (int i = 0; i < item.Rate; i++)
                                {
                                    <img src="~/Content/Images/full_star.png" />
                                }
                                <br />
                                <p></p>
                                @Html.DisplayFor(modelItem => item.StoryDate) <br />
                                <p></p>
                                <hr />

                                @Html.DisplayFor(modelItem => item.StoryText)  <br />
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>


                // </fieldset>
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
@*</table>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*<script src="~/Scripts/LoadStars.js"></script>*@
<script src="~/Scripts/CarouselActive.js"></script>

